<div class="head-div">
    <div class="head-text-container">
        <h1>Scoop Review</h1>
    </div>
</div>
<div class="content-div">
    <div class="sign-in-container">
        <p>
         Check Out A Demo of Scoop Review <a [routerLink]="['../demo']">Here!</a>
        </p>
        <app-user-sign-in></app-user-sign-in>
    </div>
</div>

<div class="circle-one circle">    
</div>
<div class="circle-two circle">
</div>
<div class="circle-three circle">
</div>
<div class="circle-four circle">    
</div>
<div class="circle-five circle">
</div>
<div class="circle-six circle">
</div>
<!-- <div class="bordered-graphic">
</div>
<div class="bordered-graphic-two">
</div> -->
