.wrapper{
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    border: 4px solid var(--main-purple-200);
    min-height: 325px;
  }
  
  .tile-display-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-height: 15rem;
    width: 100%;
    overflow-x: auto;
    padding: .5rem;
  }
  
  .go-to-all{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 12rem;
    width: 12rem;
    border-radius: .5rem;
    color: var(--main-blue-300);
    font-size: 1.5rem;
    font-family: 'luckiest_guyregular', Arial, sans-serif;
  
  }
  
  .go-to-all:hover{
    cursor: pointer;
  }

  /* set scroll to horizontal for small screens */
  @media screen and (max-width: 425px) {
    .tile-display-inner{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      max-height: 20rem;
      width: 100%;
      overflow-x: auto;
      padding: .5rem;
    }
  }
  