<div class="wrapper">
    <div class="section-header">
        <h5 class="section-heading">Manage Categories</h5>
        <button class="button-round-small button-dark" (click)="this.addCategories()">+
        </button>
    </div>
    <div *ngIf="addCategory">
        <app-category-form-demo [userId]="this.userId" (canceled)="this.canceled()" (submitted)="this.submit($event)" [categoriesNameArr]="this.categoryNameArr"></app-category-form-demo>
    </div>
    <div *ngIf="!addCategory" class="category-box">
        <div *ngFor="let category of categories">
            <app-category-demo [Category]="category"></app-category-demo>
        </div>
    </div>
</div>